<h1>Movies</h1>
{{!-- since we passed allTheBooksFromDB as `books`,
we can iterate over it here with #each--}}
{{#each movies}}
<div>
    <h3>{{title}}</h3>
    {{!-- additional book property --}}
    <p>By: {{author}}</p> 
    {{!-- link that points to the details page --}}
    <a href="/movies/{{_id}}">See more</a>
</div>
{{/each}}